/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.debug {
    border: 1px solid red;
}

/* color  */
:root {
    --color-primary: #141922;
    --color-sidebar: #000000;
    --color-toolbar: #282828;
    --color-secondary: #7D7F84;
    --color-green: #adff2f;
    --color-white: #ffffff;
}

/* general */

body {
    font-family: "Montserrat", sans-serif;
    color: var(--color-white);
}

.wrapper {
    height: 100vh;
    background-color: var(--color-primary);
    /* overflow: hidden; */
}

#toolbar {
    background-color: var(--color-toolbar);
    height: 100px;
}

.content {
    height: calc(100vh - 100px);
    width: 100%;
}

#sidebar {
    background-color: var(--color-sidebar);
    width: 250px;
    height: 100%;
    overflow-y: auto;

}

img {
    width: 100%;
    display: block;
}

/* main  */
/* nav/bar  */
main {
    width: calc(100% - 250px);
    padding: 100px 20px 20px 20px;
    overflow-y: auto;
    color: var(--color-white);
}

nav {
    margin-bottom: 70px;
}

nav a {
    text-transform: uppercase;
    color: var(--color-secondary);
}

nav ul a {
    margin: 15px;
}

nav a:hover {
    color: var(--color-white);
}

/* cardd */

.img-hover {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    display: none;
}

.card-cont {
    gap: 20px;
    margin-bottom: 40px;
}

.card-img {
    position: relative;
}

.card-img img:hover {
    opacity: 0.5;
}

.card-img:hover .img-hover {
    display: block;
}


.card {
    width: calc(100% / 6);
    cursor: pointer;
}

.card-title {
    margin-top: 20px;
}

#popolari img {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

/* sidebarr */

.logo-side {
    width: 60%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.small-logo {
    width: 30%;
    display: none;

}

#sidebar li img {
    width: 30px;
}

#mainlist ul {
    padding-top: 20px;
    padding-left: 10px;
}

#sidebar ul li {
    display: flex;
    align-items: center;
}

#sidebar a {
    color: var(--color-white);
    padding-left: 10px;
}

#mainlist ul li {
    border-left: 5px solid rgba(255, 255, 255, 0.0);
    padding-bottom: 10px;
}

#mainlist li a {
    color: var(--color-secondary);
}

#mainlist ul li:hover {
    border-left: 5px solid var(--color-green)
}

#sidebar h3 {
    padding-top: 20px;
    padding-left: 30px;
}

.fa-square-plus {
    font-size: 40px;
}

#second-list {
    min-height: 0px;
}

#second-list ul {
    overflow-y: auto;
}

#second-list li {
    padding-left: 20px;
    padding-top: 10px;
}

#second-list li a {
    color: var(--color-secondary);
}

#mainlist a:hover {
    color: var(--color-white);
}

#second-list a:hover {
    color: var(--color-white);
}

#ap img {
    width: 25px;
}

#ap {
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 2px solid var(--color-secondary);
    margin-bottom: 20px;
    padding-bottom: 5px;
}

#ap a {
    padding-top: 2px;
    color: var(--color-secondary);
}

#ap-bottom img {
    width: 30px;
}

.circle {
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-secondary);
    border-radius: 50%;
    justify-content: center;
    overflow: hidden;
    background-color: var(--color-secondary);
    margin-left: 20px;
}

#ap-bottom h3 {
    padding-bottom: 15px;
    padding-left: 10px;
}

/* toolbar */

#cont-left{
    width: 30%;
}

.central{
    width: 40%;
}

#cont-right{
    width: 30%;
}


.cont-img{
    width: 70px;
    padding-left: 10px;
}

.cont-title-tool{
    padding-left: 10px;
}

.cont-font{
    padding-left: 60px;
}

#toolbar a i{
    font-size: 20px;
    padding-right: 10px;
}

.cont-font a i{
    padding-right: 10px;
    color: var(--color-secondary);
}

.font-right a i{
    color: var(--color-white);
}

.bars{
    width: 150px;
    height: 10px;
    border: 3px solid var(--color-secondary);
    border-radius: 20px;
    margin-right: 10px;
}

#cont-central a i{
    color: var(--color-white);
    font-size: 25px;
    padding: 0 20px;
    margin-top: 10px;
}

.fa-circle-play:hover{
    transform: scale(1.3);
}

#central-bar span{
    padding-right: 20px;
    padding-left: 20px;
}

#central-bar{
    margin-top: 30px;
}

.barsbig{
    width: 400px;
    height: 10px;
    border: 3px solid var(--color-secondary);
    border-radius: 20px;
}

.leftbig{
    width: 20%;
    background-color: var(--color-white);
}

.rightbig{
    width: 80%;
}

.left{
    width: 20%;
    background-color: var(--color-white);
}

/* header  */

.header {
    background-color: #1a1a1a4f;
    color: var(--color-white);
    height: 80px;
    position: fixed;
    top: 0;
    left: 250px;
    z-index: 1000;
    width: calc(100% - 250px);
    justify-content: end;
    align-items: center;
    padding: 20px 5px 30px 5px;
}



/* text  */
.tx-white {
    color: var(--color-white);
}


.uppercase {
    text-transform: uppercase;
}

h2 {
    font-size: 2.5em;
}

.h2-recently {
    margin-bottom: 30px;
}

.h2-general {
    margin-bottom: 15px;
}

h3 {
    /* font-size: 1.5em; */
}

.card-title>* {
    text-align: center;
    padding: 5px;
}

dd {
    color: var(--color-secondary);
    /* font-size: 1.2em; */
}

.dd-general {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}


/* UTILITY  */

.btn {
    border: 2px var(--color-white) solid;
    border-radius: 25px;
    padding: 10px 20px;
    margin-right: 25px;
    text-transform: uppercase;
    color: var(--color-white)
}


/* flex utility  */

.d-flex {
    display: flex;
}

.justify {
    justify-content: center;
}

.flex-end {
    justify-content: end;
}

.align {
    align-content: center;
    align-items: center;
}

.s-btw {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

/* media query */
@media screen and (max-width:992px) {
    nav ul {
        flex-wrap: wrap;
    }

    nav ul li {
        padding: 5px;
    }

    .card-cont {
        flex-wrap: wrap;
    }

    .card {
        width: calc(100% / 4 - 20px);

    }

}

@media screen and (max-width:768px) {
    .card {
        width: calc(100% / 2 - 20px);

    }
}

@media screen and (max-width:576px) {
    .small-logo {
        display: block;
        margin: 20px 30px 5px 25px;
    }

    .logo-side {
        display: none;
    }

    #sidebar {
        width: 100px;
    }

    main {
        width: calc(100% - 100px);
    }

    .header {
        width: calc(100% - 100px);
        left: 100px;
    }

    #second-list ul {
        display: none;
    }

    #sidebar h3 {
        display: none;
    }

    #mainlist ul li a:last-child {
        display: none;
    }

    #ap a {
        display: none;
    }

    #ap {
        border: none;
    }

    #ap-bottom {
        margin-bottom: 20px;
    }
}